<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Time-Series Chart with D3.js</title>
    <!-- Include D3.js library from the static route -->
    <script src = "https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <!-- Chart container -->
    <div style="width: 80%; margin: 0 auto;">
        <svg id="timeSeriesChart" width="800" height="400"></svg>
    </div>

    <!-- JavaScript code for creating the chart (as shown in the previous examples) -->
    <script>
        // Access data passed from Flask
        const data_json = {{ data | tojson | safe }};
        const data = JSON.parse(data_json);


        // Parse date strings to date objects and convert values to numbers
        const parseTime = d3.utcParse("%Y-%m-%dT%H:%M:%SZ");
        const tmp = new Date(1646768000000);
        console.log("pre we are seeing the data in html", tmp);
        data.forEach(d => {
            d.created_utc = new Date(d.created_utc);
            d.Score = +d.Score;
        });
        //console.log("we are seeing the data in html",data);
        // ... Your D3.js code here, using the 'data' variable ...
        // Create a container for the chart
                const margin = { top: 20, right: 30, bottom: 40, left: 50 };
                const width = 800 - margin.left - margin.right;
                const height = 400 - margin.top - margin.bottom;

                const svg = d3.select("#timeSeriesChart")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom)
                    .append("g")
                    .attr("transform", `translate(${margin.left},${margin.top})`);

                // Create scales for x and y axes using the data range
                const x = d3.scaleTime()
                    .domain(d3.extent(data, d => d.created_utc))
                    .range([0, width]);

                const y = d3.scaleLinear()
                    .domain([0, d3.max(data, d => d.Score)])
                    .nice()
                    .range([height, 0]);

                // Create the line generator
                const line = d3.line()
                    .x(d => x(d.created_utc))
                    .y(d => y(d.Score))
                    .curve(d3.curveLinear);

                // Append the line to the chart
                svg.append("path")
                    .datum(data)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-width", 2)
                    .attr("d", line);

                // Create x and y axes
                svg.append("g")
                    .attr("transform", `translate(0,${height})`)
                    .call(d3.axisBottom(x));

                svg.append("g")
                    .call(d3.axisLeft(y));

                // Add labels for the axes
                svg.append("text")
                    .attr("transform", `translate(${width / 2},${height + margin.top + 20})`)
                    .style("text-anchor", "middle")
                    .text("Time");

                svg.append("text")
                    .attr("transform", "rotate(-90)")
                    .attr("y", 0 - margin.left)
                    .attr("x", 0 - (height / 2))
                    .attr("dy", "1em")
                    .style("text-anchor", "middle")
                    .text("Score");

    </script>
</body>
</html>
